<&str as IntoName>::into_name("1.2.3.4") returns Ok(_)

Per [RFC 1123 section 2.1](https://www.rfc-editor.org/rfc/rfc1123#section-2):

> If a dotted-decimal number can be entered without such
           identifying delimiters, then a full syntactic check must be
           made, because a segment of a host domain name is now allowed
           to begin with a digit and could legally be entirely numeric
           (see [Section 6.1.2.4](https://www.rfc-editor.org/rfc/rfc1123#section-6.1.2.4)).  However, a valid host name can never
           have the dotted-decimal form #.#.#.#, since at least the
           highest-level component label will be alphabetic.

The current implementation does not reject this.