Recursor should have a separate delegation cache

I think the recursive resolver should have a separate cache for delegation points, and the referral response records that define them.

Currently, when we make an NS query while looking for a zone's name servers and get a referral response, it gets turned into an `Ok` variant wrapping a message with an empty answer section, and the referral in the authority section. This is stored in the response cache under the synthesized NS query. For one thing, this means referral responses and apex NS RRset responses may fight over a cache entry. It also precludes implementing Unbound-style `harden-referral-path` behavior.

A separate delegation cache could be useful in various ways when it comes to QNAME minimization. A cache keyed by delegation points would be useful for the RFC 9156 QNAME minimization algorithm, wherein step 1 is "Get the closest delegation point that can be used for the original QNAME from the cache." Currently our algorithm does benefit from cached responses, but we just run the same logic on either cached responses or freshly retrieved responses. To perform QNAME minimization more efficiently, or resolve without using QNAME minimization at all (per #2917), we would need to add more than one label at a time to the `CHILD` name. This means we could potentially store the same referral response under multiple different query names, leading to a poor cache hit rate when trying to resolve different names in the same zones. Storing data keyed by the zone name in the referral instead of the query name we sent would fix this. RFC 9156 section 2.3 describes how to limit the number of queries performed during this process, by dividing a configured maximum number of queries over the number of labels between the QNAME and the closest known zone. This would require a separate loop looking at the cached delegation points first, and this would be simpler if we had a dedicated delegation cache.

We might find a delegation cache useful for retrieving parent-side DS or NSEC/NSEC3 RRsets, without necessarily having to perform a separate DS query. Referral responses from signed zones will typically include a signed DS record or a signed proof of nonexistence, but for now we only retain the NS records and glue records.

We could potentially leverage the delegation cache to short-circuit finding zone cuts during DNSSEC validation.

We should probably implement a delegation cache before attempting to support DELEG as well (#3464).

Can you assign this issue to me ?? or I can directly raise PR here?


No need to have the issue assigned. But I think this is a pretty complex issue, so not sure it is a good fit for a first-time contributor.

Still I am trying to solving it ..will raise PR by tomorrow!!