Recursive resolver: consider making QNAME minimization optional

As discussed in https://github.com/hickory-dns/hickory-dns/issues/2788#issuecomment-2692909774, we may want to consider making QNAME minimization optional.

[RFC 9156](https://www.rfc-editor.org/rfc/rfc9156.html#name-experience-from-rfc-7816) cites research that shows certain forms of QNAME minimization are broadly compatible. (There's a newer measurement paper published a couple years ago as well, see https://link.springer.com/chapter/10.1007/978-3-031-28486-1_21.) However, our implementation of the recursion algorithm has known issues (#2788), we have not implemented some of the fallbacks described, and we use NS queries, which have more compatibility problems than A queries. We can adopt these various improvements, but separately, making QNAME minimization a configurable feature would give users a simple workaround if needed.

I spent some time collecting my thoughts on both how to make QNAME minimization optional, and how to improve our implementation of it. Here's a rough roadmap:

* Split delegation cache out from response cache, (#3729) make sure `ns_pool_for_name()` is only getting cached referrals, not cached responses for apex NS RRsets.
* Make the recursor rely on AA=0 alone to identify referrals, instead of checking for the presence of an NS record in any section. (which would also accept apex NS RRsets)
* Currently, `DnsError::from_response()` only returns `Ok` for referrals because it relies on `DnsResponse::contains_answer()` seeing the NS records in referrals matching the QTYPE. We should probably add a carveout here to ensure we don't lose the AA=0 flag by transforming the response into an error, even if we send the original QTYPE in queries. One way to solve this would be to add an argument to `DnsError::from_response()` indicating we're trying to talk to an authoritative server. (We'd have to plumb this through `PoolContext` as well, I think) Then, we could check that argument in combination with the AA flag to identify referral responses. (We couldn't just look at AA alone for this, because that would change the behavior of forwarders and stub resolvers using the same method.) This would be a stepping stone towards getting negative responses out of the `Result::Err` variant (#2570).
* Unwind any remaining assumptions that QNAME minimization queries are done with QTYPE=NS.
* Try changing QTYPE of queries from NS to A? It seems like some other implementations stick to NS, but research cited in RFC 9156 says A has better compatibility. It might also be useful as an experiment to flush out other assumptions/bugs.
* Pick a starting point for the resolution loop by looking in the delegation cache first.
* Change the loop in ns_pool_for_name() to budget our maximum number of requests over the number of labels we need to descend, between the QNAME and the closest delegation point we got from the delegation cache. Other implementations will start with one query per label, for a few queries, then amortize remaining queries over the remaining number of labels. Stop if we get a non-referral NOERROR response earlier, and send the original query. See RFC 9156 sections 2.3 and 3.
* Add configuration to enable/disable QNAME minimization, short circuiting the middle loop that adds more labels to the QNAME. When disabled, resolution starts with checking the delegation cache, and then proceeds directly to sending the full query to name servers, following referrals.
* Implement optional fallback logic to better handle QNAME minimization when an authoritative server poses compatibility problems (i.e. not RFC 8020 compliant) by making extra queries.