RFC 6975: Pass on DAU, DHU, and N3U options in iterative queries

Section 4.2 of RFC 6975 recommends that recursive resolvers pass on DAU, DHU, and N3U options from incoming stub queries to authoritative servers when making iterative queries, so that those servers have visibility into what algorithms are supported by validating clients. Briefly, if the recursive resolver is validating, it should union its own list of supported algorithms with those from the stub query, and send on those unions in iterative queries. If the recursive resolver is not validating, it should pass through the algorithm lists as-is.