Regression of ds-unassigned-digest-algo.extended-dns-errors.com test

The `ds-unassigned-digest-algo.extended-dns-errors.com` test regressed a while back as a consequence of an unrelated error propagation fix. We'll need to do the following to fix this properly.

- [ ] Add an Unknown variant to `DigestType` to address the error encountered while parsing the DS record
- [x] We should probably remove `DigestType::SHA512` as well, since we got rid of the `TryFrom<Algorithm> for DigestType` implementation, and removed that from the signature validation path. SHA-512 is not registered as a DS digest algorithm with IANA.
- [ ] Change the DNSSEC validation code to handle the case where all DS records for a zone use unsupported algorithms (be they signature algorithms or digest algorithms). RFC 4035 section 5.2 says:
  > If the validator does not support any of the algorithms listed in an authenticated DS RRset, then the resolver has no supported authentication path leading from the parent to the child.  The resolver should treat this case as it would the case of an authenticated NSEC RRset proving that no DS RRset exists, as described above.

Is this not tested in CI? Why not?

IIRC I removed the unknown variant because this allows other conversions to be infallible, would be a little sad to lose that. Do we need to be able to represent records with unknown/invalid digest algorithms?

I think it's not tested in CI because of its reliance on external servers, plus extended-dns-errors.com has had availability issues from time to time.

I think we do need to be able to represent other algorithms, enough to receive and send records, otherwise we could run into forwards compatibility problems when handling CD=1 queries, or any other situations where Hickory DNS is in front of a DNSSEC validating client.

Alright. Would you be able to whip up a test for this? Then I can fill in the necessary code changes, if you like.

Sure thing, though I might not get to it until the new year. I'm thinking of addressing #2491 by writing a separate Dockerfile that installs BIND and uses the paper's scripts to set up zones.