Simplification of the Authority trait

The Authority trait has a lot of methods that serve overlapping purposes. It seems like `Authority::lookup()` is mainly used in tests and in specialty methods that look up particular record types in order to fill out the authorities section of authoritative responses. On the other hand, `Authority::search()` takes in the entire request, not just a query name and query type. I think we could significantly simplify the Authority trait if we refactored server code so that the `Authority` trait just takes in a request message and produces a response message, not an `AuthLookup`. This would entail the following changes.

* Define a separate method for handling AXFR transfers. The AXFR sub-protocol is different enough from typical query-response DNS that I think it justifies use of a different method signature. For example, AXFR requires use of TCP, and AXFR responses use different compression rules (see RFC 5936 section 3.4). The rest of the server needs to use a different code path for AXFR, so removing support for AXFR from `Authority::search()` seems like a win-win. This would let us remove the `AuthLookup::AXFR` variant as well.
* Change `Authority` methods to return response messages instead of `Lookup`, and fold `build_authoritative_response()` and `build_forwarded_response()` into their respective authorities. This will also enable further simplifications and bug fixes by removing the intermediate `Lookup` or `AuthLookup`.
* Remove `Authority::ns()`, `Authority::soa()`, and `Authority::soa_secure()`, which are all used only in `build_authoritative_response()` or AXFR code.
* Remove `Authority::lookup()`, and rewrite tests to construct mock requests to pass to `Authority::search()`.
* Similarly remove unnecessary DNSSEC-related methods on `Authority`, as appropriate.

See also https://github.com/hickory-dns/hickory-dns/pull/3164#discussion_r2243244017

I think this is a good direction. I'm a little wary of letting the trait methods return a "bigger" value than they do currently because for one thing, conceptually an "authority" should  be more like just the storage and less of the surrounding logic -- but maybe that just means we need multiple traits which can be layered.

I noticed that the server AXFR implementation is currently limited to a single response message. See #2049 and #351. I tried adding more records to the existing AXFR integration tests, and they eventually produced a response with `TC=1`. The changes above will likely make it easier to fix this in the future, by creating separate AXFR and query-response code paths.

The name "Authority" is misleading as well, what do folks think about renaming the trait to "ZoneHandler"?