Store one `Proof` per RRset, instead of per record

`Proof` enums are currently attached to records or an error variant. This is not a good way to represent DNSSEC validation results, because validation is done one RRset at a time. We could remove the `proof` field from the `Record` struct and `ProtoErrorKind::Nsec` and instead store a `HashMap<RrKey, Proof>` alongside a response. The proof in `ProtoErrorKind::Nsec` represents the verification state of the queried RRset in name error or no data responses. Being able to track the verification state of other RRsets, different from the queried RRset, and without any matching records, would be useful for properly validating wildcard expansion, see #2882.

A quick web search turns up this [documentation](https://doc.powerdns.com/recursor/dnssec.html) from PowerDNS. Describing its default `process` mode:

> When [dnssec.validation](https://doc.powerdns.com/recursor/yamlsettings.html#setting-yaml-dnssec-validation) is set to process the behaviour is similar to [process-no-validate](https://doc.powerdns.com/recursor/dnssec.html#process-no-validate). However, the recursor will try to validate the data if at least one of the DO or AD bits is set in the query; in that case, it will set the AD-bit in the response when the data is validated successfully, or send SERVFAIL when the validation comes up bogus.

[RFC 2535, section 6.1](https://www.rfc-editor.org/rfc/rfc2535#section-6.1):

>  Security aware servers MUST NOT return Bad data.  For non-security aware resolvers or security aware resolvers requesting service by having the CD bit clear, security aware servers MUST return only Authenticated or Insecure data in the answer and authority sections with the AD bit set in the response. Security aware servers SHOULD return Pending data, with the AD bit clear in the response, to security aware resolvers requesting this service by asserting the CD bit in their request.  The AD bit MUST NOT be set on a response unless all of the RRs in the answer and authority sections of the response are either Authenticated or Insecure.  The AD bit does not cover the additional information section.

> * In the recursor, when running in `Validating` mode (enabled via `DnssecPolicy::ValidateWithStaticKey`), we will use `proof.is_indeterminate()` to determine whether we can yield cache results. It doesn't seem like `proof` values actually influence the data that we return?

FWIW this check is needed because the recursor can insert cache entries both before and after validation. This check prevents using a pre-validation response without going through the validation process again.

The big place where the rubber meets the road (when running the recursor or forwarder in a server) is in `build_forwarded_response()`, which uses `DnssecSummary::from_records()` to consume proofs. I discussed this a bit in https://github.com/hickory-dns/hickory-dns/issues/3041#issuecomment-3032905729.