NSEC3: Limit number of iterations

There should be a limit on the number of iterations that Hickory DNS will accept in an NSEC3 record. This should probably be configurable. [RFC 5155 section 10.3](https://www.rfc-editor.org/rfc/rfc5155#section-10.3) suggests some upper limits, depending on the key size. It says that if the signature over the NSEC3 record is correct, and the iteration count is too high, resolvers may treat responses as insecure, skipping the iterated hash computation. [RFC 9276](https://datatracker.ietf.org/doc/html/rfc9276) makes the case that iteration counts greater than zero do not meaningfully improve the ability to obfuscate domains, while they increase the impact of DoS attacks against CPU. Therefore, it recommends treating validly-signed NSEC3 records as insecure at a lower iteration count limit. It also recommends an additional iteration count threshold at which the resolver starts returning `SERVFAIL` responses.

Relatedly, `Nsec3HashAlgorithm::hash()` is implemented recursively, which means DoS attacks using high iteration counts could try to exhaust stack memory.

I have a patch for this that is mostly complete.  I'll clean it up over the next week and get it ready for review.

> I have a patch for this that is mostly complete. I'll clean it up over the next week and get it ready for review.

Would be nice if you can still get to this!

Is this still open?

Fixed in #2899