Recursor: Retransmission policy

The recursor should have some retransmission policy, in order to gracefully handle packet loss when using UDP. Section 4.2.1 of RFC 1035 has some suggestions.

Note that, while `parallel_conn_loop()` does have some logic to retry with an exponential backoff, it is only triggered by `ProtoErrorKind::Busy`. This error is only generated when internal channels are full in `DnsMultiplexer` or `BufDnsRequestStreamHandle`.

Addressed in #3311 