NSEC3 verification crashes when handling records from different zones

We have found that the recursive resolver and verifier fail when handling a response that combines CNAME chasing, a NODATA response, and insecure and secure zones. It seems the root cause is that we are relying too much on the name of the SOA record present in the response, and some of the following logic falls apart when trying to verify records that are not in the same zone as that SOA record. After following CNAME aliases and combining responses, it is expected that we will have authoritative records from multiple zones in the response, and we can't assume that we'll have all SOA records of relevant zones. (Perhaps we should be identifying the putative zone containing each record by looking at the signer name of associated RRSIGs, when present?) In debug builds, an assertion inside `<EncloserCandidates as Iterator>::next()` fails, and in release builds, we run out of memory trying to collect the same iterator, because it keeps returning `Some(Name::root())`.

RFC 7129 section 5.4 mentions that, if you have CNAME records at wildcard names, you could have more than 2 NSEC records or 3 NSEC3 records in a response. Additional NSEC/NSEC3 records are needed to prove that each wildcard CNAME record was expanded appropriately. Since these could come from different zones, it's also possible one zone could use NSEC while another uses NSEC3. FWIW, we currently have a [match block](https://github.com/hickory-dns/hickory-dns/blob/c9159d83f4b2299e415663cd84b6615398957fc8/crates/net/src/dnssec/mod.rs#L285) that cannot handle such situations. Moreover, we need to be validating each wildcard expansion or nonexistence proof in the context of that particular name's zone, not relying on the name of the first SOA record. At minimum, I think we need to be re-walking the CNAME chain during verification. Unfortunately, RFC 4035 and RFC 5155 don't say much about DNSSEC verification in the presence of CNAME chasing.

There are multiple possible sources of information we could use to determine the zones that records live in. Authoritative servers may include SOA records in negative responses, though not all do. If the zone is signed, the RRSIG over a record includes the signer name, and DNSKEYs used to sign RRsets are required to be at zone apexes. We already have some code in `find_ds_records()` that finds the zone containing a name, and we could extract that into its own method as an inefficient fallback. Additionally, if we are verifying a response from the recursive resolver, the recursor already found all the zone cuts to perform resolution. If we passed that information to the verifier, that could short-circuit some extra work. However, the `DnsHandle` interface we currently use to interface between the two does not readily admit this. We would still need to send more requests to discover zone cuts when running a verifying client or verifying forwarder, if there is no RRSIG or SOA in the response.