Validating a message with no RRSIGs may trigger infinite recursion

Currently `find_ds_records()` both tries to find a zone cut and determine if the zone is secure or insecure simultaneously. The latter requires that we do DNSSEC verification, but the former does not. Attempting DNSSEC verification could potentially require validating a response for a query of the same RRset that `find_ds_records()` was originally called on. While working on other recursor changes, I tried including glue records in responses, and in the `rrsig-no-all.extended-dns-errors.com.` test, attempts to validate a glue record led to validation of multiple other RRsets, eventually reaching a fixed point where it kept trying to fetch one DS RRset forever (at a NSEC3 owner name). I think it might also be possible to trigger this with a pathological authoritative server via CNAME records in the answer section, which would make it through the recursor and to the validator today.

Based on RFC 6840 section 6.1, and RFC 4035 section 4.2, we should instead find the zone cut first, by querying for NS RRsets of ancestor names, and only then query the DS record from the parent. (RFC 9156 section 3 also mentions that "a validating resolver already has the logic to find the zone cuts")