Truncated responses may be cached

Currently, if `NameServerPool` gets a truncated response, it attempts to retry the query via TCP. However, if that fails, it returns the truncated response, and there is insufficient handling of truncated responses downstream. It may be cached and served in response to subsequent queries, which violates a 'should not' in RFC 1035 section 7.4.