Allow resolver to switch to TCP for large messages without having to include TCP in name server pool

**Is your feature request related to a problem? Please describe.**
We encountered an issue testing a device running Fuchsia where the local router timed out any DNS requests over TCP. (It's possible that it was just dropping TCP packets to port 53.) It responded to DNS over UDP fine. This ended up significantly slowing down IP lookup requests, because by default we [include both](https://cs.opensource.google/fuchsia/fuchsia/+/main:src/connectivity/network/dns/src/main.rs;l=225;drc=9a56fdf03671a06a5f0e9eeb2d5117f640a0c402) a UDP "version" and a TCP version of each name server in the name server pool, to allow for TCP connections to be used when needed. However, when retry comes into the equation, this effectively means that on a DNS query that gets retried, potentially all the name servers get requested, including the TCP versions.

**Describe the solution you'd like**
As [RFC 5966, section 1](https://datatracker.ietf.org/doc/html/rfc5966#section-1) describes:

>  Most DNS [[RFC1034](https://datatracker.ietf.org/doc/html/rfc1034)] transactions take place over UDP [[RFC0768](https://datatracker.ietf.org/doc/html/rfc0768)].  TCP
   [[RFC0793](https://datatracker.ietf.org/doc/html/rfc0793)] is always used for zone transfers and is often used for
   messages whose sizes exceed the DNS protocol's original 512-byte
   limit.

I don't think we want to be making any DNS queries over TCP by default; it seems to me that we should only do that in the case that the message doesn't fit into a single DNS message. It looks to me like trust-dns already does this; if we get a response that a message has been truncated, trust-dns [attempts to switch](https://github.com/bluejekyll/trust-dns/blob/main/crates/resolver/src/name_server/name_server_pool.rs#L241) to a TCP connection to make the query. However, it relies on there being TCP connections in the name server pool. Ideally, I'd like to allow for this use case (using TCP for oversize messages) without having to include TCP name servers alongside UDP ones in the regular pool.

Maybe we could optionally have a separate name server pool for TCP to allow for this fallback to occur without having TCP name servers in the regular pool. Do you have any thoughts about the approach here?

**Describe alternatives you've considered**
We can always just not include any TCP versions in the name server pool, but this would prevent the resolver from falling back to TCP when the message size is too large which is undesirable.